/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/** my CSS Variables **/
.center {
    text-align: center;
    margin: auto;
    padding: 3px;
}

.ion-item-border::part(native) {
    border-width: 2px;
    border-radius: 20px;
}

.ion-item-border::part(detail-icon) {
    opacity: 1;
    font-size: 20px;
}

.iconBtn:active {
    transform: scale(0.8);
    color: black;
}